# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.serverless
coverage
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AWS CDK-specific entries

# Ignore CDK dependencies
cdk/node_modules/     
# CDK output folder
cdk/cdk.out/          
# CDK asset files (e.g., Lambda packages)
cdk/*.zip             
# CDK asset files (e.g., Lambda packages)
cdk/*.tar.gz          
# CDK context file
cdk/cdk.context.json  
# CDK staging folder
cdk/.cdk.staging/     
